<app-navbar></app-navbar>

<mat-card>
  <mat-card-content>
    <mat-card-title>
      Line
    </mat-card-title>
    <mat-card-subtitle>
      somthing
    </mat-card-subtitle>
    <mat-card-content>
      <!-- <canvas height="200" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartTyle]="lineChartType"> </canvas> -->
    </mat-card-content>

  </mat-card-content>
</mat-card>
