/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0px;

}

.mat-toolbar.mat-primary {
  background: #172d3b !important;
}

.white {
  color: #fff;
}
